@media screen and (max-width: 1364px) {
  .container-global {
    width: 92%;
  }
}
@media screen and (max-width: 1200px) {
  .container-global {
    width: 100%;
  }

  .text_banner {
    font-size: 42px;
  }

  .img_about > img{
    width: 400px;
  }

  .slec2{
    padding-right: 0px;
  }
}
@media screen and (max-width: 1100px) {
  .time {
    display: none;
  }

  .flex_ride > p{
    width: 100%;
  }

  .modal_info{
    max-width: 570px!important;
  }

  .img_bike{
    width: 100%;
  }

  .info_margin > p > b{
    padding-left: 10px;
  }
}
@media screen and (max-width: 991px) {
  .telBlock {
    display: none;
  }

  .d_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .d-flex_fons {
    display: none;
  }

  .dPost {
    display: block;
    margin-top: 14px;
    padding: 18px 16px 0px 16px;
  }

  .text_banner2 {
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 40px;
    font-weight: bold;
  }

  .img_none {
    width: 54%;
    height: 190px;
    float: right;
    margin-right: 30px;
  }

  .none-text {
    margin: 0px 0px 0px 0px;
    line-height: 0;
  }

  .none-text > p {
    font-size: 24px;
    font-weight: bold;
    color: #297FFF;
  }

  .banner_images > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 70px;
  }

  .banner_images_2 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 70px;
  }

  .banner_images_3 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 90px;
  }

  .text_moto {
    margin: -30px 0px 0px 20px;
    line-height: 1;
  }

  .pb-date {
    display: block;
  }

  .slec {
    padding-right: 30px;
  }

  .about_text{
    width: 100%;
  }
  .img_about{
    width: 100%;
  }

  .img_about > img{
    width: 100%;
    height: 340px;
  }
}
@media screen and (max-width: 816px) {
  .btnBlock {
    display: block;
  }

  .text {
    display: none;
  }

  .text > a {
    color: white;
  }

  .panel {
    display: block;
  }

  .panelFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 30px;
  }

  .time {
    display: block;
  }

  .text_banner2 {
    font-size: 34px;
  }

  .contact{
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 767px) {
  .banner_images_3 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 5;
    width: 240px;
    border-radius: 0px 20px;
  }

  .banner_images > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 40px;
  }

  .banner_images_2 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 40px;
  }

  .banner_images_3 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 40px;
  }

  .date_select {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .date_options {
    display: none;
  }

  .date_options2 {
    display: block;
  }

  .slec {
    padding-right: 182px;
  }

  .bgBtn {
    width: 280px;
  }

  .date > div {
    width: 280px;
  }

  .footer_flex{
    display: block;
  }

  .li_right > li{
    margin-left: 0px;
    margin-right: 10px;
  }

  .text_del{
    width: 100%;
  }

  .flex_personalInfo > div{
    width: 100%;
  }

  .flex_personal{
    display: block;
  }

  .flex_personal > div{
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .slec {
    padding-right: 125px;
  }

  .bgBtn {
    width: 222px;
  }

  .date > div {
    width: 100%;
  }

  .text_order_bike{
    width: 200px;
  }

  .flex_text_order{
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 570px) {
  .panelFlex {
    padding-left: 0px;
  }

  .text_banner2 {
    width: 355px;
  }

  .telBtn {
    display: none;
  }

  .text_moto > h4 {
    display: none;
  }

  .text_moto > p {
    margin-top: 40px;
    font-size: 18px;
  }

  .banner_images_3 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 5;
    width: 200px;
    border-radius: 0px 20px;
  }

  .banner_images > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 5px;
  }

  .banner_images_2 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 5px;
  }

  .banner_images_3 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    margin-left: 5px;
  }

  .slec {
    display: block;
  }

}
@media screen and (max-width: 544px) {
  .date_select {
    display: block;
  }

  .bgBtn {
    width: 100%;
  }

  .date > div {
    width: 100%;
  }

  .flex_bike_post{
    flex-wrap: wrap;
    justify-content: center;
  }
  .bike_fixed{
    padding-top: 5px;
  }

  .summa > button{
    display: none;
  }
}
@media screen and (max-width: 485px) {
  .panelFlex {
    display: block;
    text-align: center;
  }

  .panelFlex > li {
    border-bottom: 1px thick #3E80F7;
  }

  .time {
    display: none;
  }

  .telBtn2 {
    display: block;
  }

  .banner_images {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: 0px;
    z-index: 2;
    width: 144px;
    height: 144px;
  }

  .banner_images_2 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_3.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 3;
    width: 144px;
    height: 144px;
  }

  .banner_images_3 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 5;
    width: 144px;
    height: 144px;
  }

  .banner_images > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    width: 120px;
    height: 100px;
    margin-left: 0px;
  }

  .banner_images_2 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    width: 120px;
    height: 100px;
    margin-left: 0px;
  }

  .banner_images_3 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    width: 120px;
    height: 100px;
    margin-left: 0px;
  }

  .img_ride > img{
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 415px) {
  .dPost {
    padding: 0px;
  }

  .banner_images {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: 0px;
    z-index: 2;
    width: 134px;
    height: 134px;
  }

  .banner_images_2 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_3.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 3;
    width: 134px;
    height: 134px;
  }

  .banner_images_3 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 5;
    width: 134px;
    height: 134px;
  }

  .text_banner2 {
    width: 220px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 34px;
  }

  .ride_images_end > img{
    width: 100%;
  }

  .ride_images_end > p{
    width: 100%;
  }
}
@media screen and (max-width: 324px) {
  .dPost {
    padding: 0px;
  }

  .banner_images {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: 0px;
    z-index: 2;
    width: 104px;
    height: 144px;
  }

  .banner_images_2 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_3.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 3;
    width: 104px;
    height: 144px;
  }

  .banner_images_3 {
    background-image: url("https://bikepark.ae/local/templates/bike_template/img/gift-item_0.svg");
    background-repeat: no-repeat;
    width: 316px;
    height: 207px;
    margin-left: -120px;
    z-index: 5;
    width: 104px;
    height: 144px;
  }

  .banner_images > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    width: 110px;
    height: 100px;
    margin-left: 0px;
  }

  .banner_images_2 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    width: 110px;
    height: 100px;
    margin-left: 0px;
  }

  .banner_images_3 > img {
    width: 170px;
    height: 150px;
    margin-left: 110px;
    width: 104px;
    height: 100px;
    margin-left: 0px;
  }

  .text_moto > p {
    margin-left: -10px;
  }
}